doctype html
html
    head
        title Homepage
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Driver List
        a(href="/update-cobj") Add/Edit Driver List
        table
            thead
                tr
                    th Driver Name
                    th Email 
                    th Driver Licence
            tbody
                each book in books
                    tr
                        td= book.properties.driver_name
                        td= book.properties.email
                        td= book.properties.driver_licence
